<div class="container" *ngIf="!loggedIn" >
    <div class="panel panel-default">
        <div class="panel-heading">
            Login
        </div>
        <div class="panel-body">
            <label for="username" class="label label-default">Username</label> <input id="username" type="email" class="form-control"
                required  [(ngModel)]="username">
            <label for="password" class="label label-default">Password</label> <input id="password" type="password" class="form-control"
                required  [(ngModel)]="password">
            <br/>
            <br/>
            <button class="btn btn-default" (click)="login()">Login</button>
        </div>
        <div class="panel-footer">
            Copyright NTG 2016
        </div>
    </div>
</div>
<div class="container" *ngIf="loggedIn" >
    <div class="panel panel-default">
        <div class="panel-heading">
            Logout
        </div>
        <div class="panel-body">
            <button class="btn btn-default" (click)="logout()">Logout {{username}}</button>
        </div>
        <div class="panel-footer">
            Copyright NTG 2016
        </div>
    </div>
</div>