<div class="container" >
<input type="text" [(ngModel)]="mname" (keyup)="moviesFinder()" class="form-control">
<table class="table table-striped table-bordered">
    <tr>
        <th>
            Name
        </th>
        <th>
            Year
        </th>
        <th>
            imdbID
        </th>
        <th>
            Type
        </th>
        <th>
            Poster
        </th>
    </tr>
    <tr *ngFor="let movie of movies.Search">
        <td>{{movie.Title}}</td>
        <td>{{movie.Year}}</td>
        <td>{{movie.imdbID}}</td>
        <td>{{movie.Type}}</td>
        <td><img width="100" src="{{movie.Poster}}"></td>
    </tr>
</table>

</div>
